body {
    background-color: lightgray;
    margin-left: 70px;
    margin-top: 20px;
    font-family: sans-serif;
}

h1 {
    font-size: 30px;
    font-family: serif;
    font-weight: bold;
    background-color: aliceblue;
    padding: 10px;
    display: inline-block;
}

table {
    border-spacing: 10px;
}

label {
    font-size: 20px;
}

input {
    border-style: double;
    font-size: 18px;
    width: 150px;
    padding: 4px;
}

button {
    background-color: darkcyan;
    color: white;
    font-size: 18px;
    padding: 20px 25px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: teal;
}

p {
    font-size: 20px;
    font-weight: bold;
    color: red;
}